
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contenedor{
    width: 200px;
    height: 200px;
    border: 1px solid blue ;
    border-radius: 15px;
}

button{
    width: 200px;
}

#menu a{
    text-decoration: none;
    border-radius: 15px;
    width: 100px;
    color: white;
}

p{
    background-color: black;
 
}

#menu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#imagen{
    width: 500px;
}