
#contenedor{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: coral;
}

#animacion{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: blue;
}
