
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 200px;
}

#contenedor{
    width: 200px;
    height: 160px;
    padding: 20px;
    border: 1px solid darkblue;
    border-radius: 16px;
}

#menu a{
    text-decoration: none;
    width: 70%;
    color:burlywood;
}

p{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    background-color: black;
}

#carretera{
    margin: 40px;
    width: 500px;
}